@model List<Order.Context.tb_Goods>
    @{
        ViewBag.Title = "Home Page";
    }



    <section class="padding-bottom-sm">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">AAA</h4>
        </header>

        <div class="row row-sm">
            @foreach (var item in Model)
            {
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <div href="@Url.Action("Detail","Product",new { GoodId = item.GoodId })" class="card card-sm card-product-grid">
                        <a href="@Url.Action("Detail","Product",new { GoodId = item.GoodId })" class="img-wrap"> <img src="@item.Image"> </a>
                        <figcaption class="info-wrap">
                            <a href="@Url.Action("Detail","Product",new { GoodId = item.GoodId })" class="title">@item.Name</a>
                            <div class="price mt-1">@item.Price</div> <!-- price-wrap.// -->
                            <button onclick="window.location.href='@Url.Action("Detail","Product",new { GoodId = item.GoodId })';">
                                See Detail
                            </button>
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
            }
        </div> <!-- row.// -->

        <a href='@Url.Action("Index","Cart")' class="btn btn-primary">Xem giỏ hàng</a>
    </section>
