@model List<Order.Models.CartModel>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(function () {
        $("#removecart").click(function () {
            var model = {};
            //lấy id sản phẩm
            model.Id = $("#productid").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Remove", "Cart")',
                data:  JSON.stringify(model) ,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    $('#CartCount').text(@Session["count"] - 1);
                    $("#product-" + model.Id).remove();
                },
                error: function () {
                    alert("Lỗi trong khi thêm vào giỏ hàng!");
                }
            });
            return false;
        });
    });
    </script>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="cache-control" content="max-age=604800" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Website title - bootstrap html template</title>

        <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">

        <!-- jQuery -->
        <script src="js/jquery-2.0.0.min.js" type="text/javascript"></script>

        <!-- Bootstrap4 files-->
        <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />

        <!-- Font awesome 5 -->
        <link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

        <!-- custom style -->
        <link href="css/ui.css" rel="stylesheet" type="text/css" />
        <link href="css/responsive.css" rel="stylesheet" type="text/css" />

        <!-- custom javascript -->
        <script src="js/script.js" type="text/javascript"></script>

    </head>
    <body>



        <section class="section-content padding-y">
            <div class="container">

                <div class="row">
                    <main class="col-md-9">
                        <div class="card">

                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col">Product</th>
                                        <th scope="col" width="120">Quantity</th>
                                        <th scope="col" width="120">Price</th>
                                        <th scope="col" class="text-right" width="200"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr id="product-@item.Product.GoodId">
                                                <td>
                                                    <figure class="itemside">
                                                        <div class="aside"><img src="@item.Product.Name" class="img-sm"></div>
                                                        <figcaption class="info">
                                                            <a href="#" class="title text-dark">@item.Product.Name</a>
                                                        </figcaption>
                                                    </figure>
                                                </td>
                                                <td>
                                                    <input type="text" value="@item.Quantity" />
                                                </td>
                                                <td>
                                                    <div class="price-wrap">
                                                        <var class="price">@item.Product.Price</var>
                                                    </div> <!-- price-wrap .// -->
                                                </td>
                                                <td class="text-right">
                                                    <input type="hidden" value="@item.Product.GoodId" id="productid" />


                                                    <a href="" class="btn btn-light" id="removecart"> Remove</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <p>Không có sản phẩm trong giỏ hàng</p>
                                    }


                                </tbody>
                            </table>

                            <div class="card-body border-top">
                                <a href="@Url.Action("Index","Payment")" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
                                <a href='@Url.Action("Index","Home")' class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
                            </div>
                        </div> <!-- card.// -->



                    </main> <!-- col.// -->
                    <aside class="col-md-3">
                        <div class="card mb-3">
                            <div class="card-body">
                                <form>
                                </form>
                            </div> <!-- card-body.// -->
                        </div>  <!-- card .// -->
                        <div class="card">
                            <div class="card-body">
                                
                                <p class="text-center mb-3">
                                    <div>
                                        <label for="Agency"> Agency name</label>
                                        <input type="text" id="agency" name="Name" />
                                        <label for="Pay"> Payment Method</label>
                                        <input type="text" id="payment" name="Name" />
                                    </div>
                                </p>

                            </div> <!-- card-body.// -->
                        </div>  <!-- card .// -->
                    </aside> <!-- col.// -->

                </div>

            </div> <!-- container .//  -->
        </section>



    </body>
</html>
